@media only screen and (min-width: 2340px) {
    .information {

        &-image {
            margin: 0 auto;
        }
    }
}


@media only screen and (min-width: 2040px) {
  .header {
    height: 900px;
    &-navigation {

        &-table {

            a {
                font-size: 19px;
            }
        }
    }

    &-name {
        font-size: 19px;
    }

    &-title {
      font-size: 60px;

      &::after {
          width: 90px;
          height: 8px;
      }
    }

    &-buttons {
        button {
            width: 400px;
            height: 80px;
            font-size: 20px;
        }
    }

    &-wheel {
        left: 47%;
    }

    &-down {
        padding-bottom: 50px;
        img {
            width: 80px;
            height: 80px;
        }
    }
  }

  .information {
      padding-top: 70px;

    &-table {
        width: 1200px;
        margin: 0 auto; 
        line-height: 50px; 

        &-title {
            padding-top: 90px;
            font-size: 70px;
            p {
                padding-bottom: 20px;
            }

            &:after {
                width: 90px;
                height: 6px;               
            }
        }

        &-subtitle {
            padding-top: 20px;
            font-size: 40px;
            line-height: 1.2;
            text-align: center;
            padding-bottom: 50px;
        }

        &-text {
            letter-spacing: 2px;
            font-size: 22px;
            line-height: 1.4;
        }
    }

    &-image {
        img {
            width: 590px;
            height: 590px;
        }

        &-img1 {
            top: 0px;
            left: 230px;
        }
    }
  }

  .team {
    h2 {
        font-size: 40px;
    }

    &-grid {
        padding-bottom: 70px;

        &-image {
            margin: 0 auto;
            padding-top: 50px;
            img {
                width: 600px;
                height: 600px;
            }
    
            &-img1 {
                top: 40px;
                left: 230px;
            }
        }

    &-table {
        width: 1200px;
        margin: 0 auto; 
        line-height: 50px; 

        &-title {
            padding-top: 110px;
            font-size: 70px;
            p {
                padding-bottom: 20px;
            }

            &:after {
                width: 90px;
                height: 6px;               
            }
        }

        &-subtitle {
            padding-top: 20px;
            font-size: 40px;
            line-height: 1.2;
            text-align: center;
            padding-bottom: 50px;
        }

        &-text {
            letter-spacing: 2px;
            font-size: 22px;
            line-height: 1.4;
        }
    }
}
}

     .bookForm {

        &-photo {
            margin: 0 auto;
            img {
                width: 700px;
                height: 700px;
            }
        }

        &-form {
            width: 80%;

            &-title {
                font-size: 60px;
            }

            &-inputs {
                width: 100%;
                input {
                    height: 80px;
                }
            }

            button {
                height: 80px;
            }
        }
     
     }

     .special {

        h2 {
            font-size: 50px;
            left: 40%;
        }
         padding-bottom: 80px;

         .img {
            padding-top: 100px;
            padding-bottom: 100px;

            img {
                width: 700px;
                height: 700px;
            }
    
        }

        .info {
            width: 85%;
            color: white;
            padding: 0px 80px;
    
            &-title {
                padding-top: 110px;
                font-size: 70px;
    
                &:after {
                    width: 90px;
                     height: 6px;    
                }
            }
    
            &-subtitle {
                padding-top: 20px;
                font-size: 40px;
                line-height: 1.2;
                text-align: center;
                padding-bottom: 50px;     
            }
    
            &-text {
                padding-bottom: 70px;
                letter-spacing: 2px;
            font-size: 22px;
            line-height: 1.4;
            }
        }
     }

     .menu {

        &-title {
            font-size: 60px;
        }

        &-subtitle {
            font-size: 26px;
            width: 800px;
            line-height: 1.3;
        }

        &-types {
            font-size: 20px;
            margin-bottom: 60px;
        }

        &-dishes {

            .head {
                font-size: 28px;
            }

            .bottom {
                padding-top: 5px;
                font-size: 20px;
            }
        }
     }

     .events {
         h2 {
             font-size: 24px;
             left: 43%;
         }

         &-grid {

            &-img {
                margin: 0 auto;
                
                img {
                    width: 900px;
                    height: 700px;
                }
            }
         }

         &-footer {
             font-size: 16px;
             left: 37%;
         }
     }

     .photos {
         height: 500px;
     }

     .contact {

        &-title {
            font-size: 52px;
        }

        &-subtitle {
            width: 800px;
            font-size: 26px;
        }

        &-inputs {

            &-main {

                input {
                    height: 70px;
                    font-size: 26px;
                }
            }

            &-message {
    
                input {
                    padding-bottom: 100px;
                    font-size: 26px;
                }
            }
        }

        &-footer {

            &-contacts {
                font-size: 20px;
            }

            button {
                height: 70px;
                font-size: 26px;
            }
        }
     }

     .footer {
         p {
             font-size: 24px;
         }
     }
}

@media only screen and (max-width: 2039px) {
    .bookForm {

        &-form {
            padding-right: 0;
            &-title {
                font-size: 50px;
            }

            &-inputs {
                width: 700px;
            }
        }

        &-photo {
            margin: 0 auto;
        }
    }

    .events {
        h2 {
            font-size: 20px;
            left: 42%;
        }
    }
}

@media only screen and (max-width: 1470px) {
    .information {

        &-image {
            img {
                width: 480px;
                height: 480px;
            }

            &-img1 {
                left: 34%;
                top: 35px;
                img {
                    width: 425px;
                    height: 425px;
                }
            }
        }
    }

    .events {
        h2 {
            font-size: 16px;
        }

        &-grid {

            &-img {

                img {
                width: 600px;
                height: 500px;
                }
            }
        }
    }

    .contact {

        &-footer {
            grid-template-columns: 1fr;

            button {
                height: 70px;
            }

            &-contacts {
                font-size: 20px;
                padding-bottom: 20px;
                padding-top: 10px;
            }
        }
    }

    .footer {
        
        p {
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 1280px) {

    .header {

        &-wheel {

            left: 43%;
        }
    }

    .contact {

        &-subtitle {
            font-size: 20px;
        }

        &-footer {
            
            button {
                font-size: 20px;
            }
        }
    }

    .information {
        grid-template-columns: 1fr;

        &-table {
            margin: 0 auto;
            width: 85%;

            &-title {
                p {
                    padding-bottom: 10px;
                }
                padding-top: 0;
                font-size: 60px;
                padding-bottom: 30px;
            }

            &-subtitle {
                line-height: 1.2;
                font-size: 28px;
                padding-bottom: 50px;
            }

            &-text {
                line-height: 1.5;
                font-size: 21px;
                padding-bottom: 50px;
            }
        }

        &-image {
            width: 70%;
            margin: 0 auto;

            img {
                margin-left: 50px;
                width: 70%;
                height: auto;
            }

            &-img1 {
                width: 80%;
                left: 34%;
                top: 47px;
            }
        }
    }

    .team {

        h2 {
            font-size: 50px;
            padding-bottom: 70px;
        }

        &-grid {
            grid-template-columns: 1fr;

            &-image {
                width: 70%;
                margin: 0 auto;
    
                img {
                    margin-left: 50px;
                    width: 70%;
                    height: auto;
                }
    
                &-img1 {
                    width: 80%;
                    left: 34%;
                    top: 47px;  
                }
            }

            &-table {
                margin: 0 auto;
                width: 90%;
    
                &-title {
                    p {
                        padding-bottom: 10px;
                    }
                    padding-top: 50px;
                    font-size: 47px;
                    padding-bottom: 30px;
                }
    
                &-subtitle {
                    line-height: 1.2;
                    font-size: 28px;
                    padding-bottom: 50px;
                }
    
                &-text {
                    line-height: 1.5;
                    font-size: 21px;
                }
            }
        }
    }

    .bookForm {
        grid-template-columns: 1fr;

        &-form {
            margin: 0 auto;
            width: 90%;

            &-inputs {
                width: 100%;

                input {
                    height: 60px;
                }
            }

            button {
                height: 60px;
            }
        }

        &-photo {
            display: grid;
            justify-items: center;
            img {
                width: 100%;
            }
        }
    }

    .special {

        h2 {
            font-size: 30px;
            left: 35%;
        }

        .swiper-slide {
            padding-top: 40px;
            grid-template-columns: 1fr;
        }

        .info {
            padding-bottom: 200px;
            &-title {
                font-size: 40px;
            }

            &-subtitle {
                font-size: 26px;
            }

            &-text {
                font-size: 20px;
                line-height: 1.5;
            }
        }
    }

    .menu {

        &-dishes {
            grid-template-columns: 1fr 1fr;
        }
    }

    .events {

        h2 {
            font-size: 40px;
            left: 22%;
        }

        &-grid {
            padding-top: 70px;
            grid-template-columns: 1fr;
            
            &-img {
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .header {

        &-title {
            font-size: 36px;
        }

        &-wheel {
            left: 41%;
        }
    }

    .photos {
        grid-template-columns: 1fr 1fr;
        height: 600px;
    }

    .contact {

        &-footer {

            &-contacts {
                display: grid;
                grid-template-columns: 1fr;

                nav {
                    font-size: 25px;
                    padding-bottom: 20px;
                }
            }
        }
    }

    .special {

        h2 {
            left: 28%;
        }
    }

    .events {

        h2 {
            left: 12%;
        }
    }

    .menu {

        &-types {
            display: grid;
            align-items: center;
            justify-items: center;
            font-size: 16px;
            grid-template-columns: repeat(4,1fr);
            :not(:last-child) {
                border-right: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    
    .header {

        &-name {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 20px;
        }

        &-title {
            padding-bottom: 40px;
            font-size: 24px;
        }

        &-display {
            display:none;
        }

        &-wheel {
            left: 20px;
        }

        &-navigation {
            width: 100%;
            grid-template-columns: 4fr;
            align-items: center;

            &-table {
                padding-bottom: 0;

                nav {

                    a {
                        font-size: 18px;
                    }
                }

                &:first-child {
                    padding-left:0px;
                    padding-top: 190px;
                }

                &:last-child {
                    padding-right:0px;
                }
            }
        }
    }

    .team {
        
        &-grid {

            &-image {
                width: 100%;

                img {
                    margin-left: 0;
                }

                &-img1 {
                    width: 65%;
                    left: 30%;
                    top: 8px;

                    img {
                        width: 100%;
                    }
                }
            }

            &-table {
                padding: 0;
            }
        }
    }

    .bookForm {

        padding-top: 40px;  
        padding-bottom: 40px;
    }

    .information {
        padding-left: 5px;
        padding-right: 5px;
        
        &-table {
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }

        &-image {
            width: 100%;

            img {
                margin-left: 0;
            }

            &-img1 {
                width: 65%;
                left: 30%;
                top: 8px;

                img {
                    width: 100%;
                }
            }
        }
    }

    .menu {
        width: 100%;

        &-types {
            width: 100%;
            nav {
                padding-right: 20px;
                padding-left: 20px;
            }
        }

        &-subtitle {
            width: 100%;
        }
    }

    .events {

        h2 {
            font-size: 20px;
            left: 20%;
        }
        
        &-grid {

            img {
                width: 100%;
                height: auto;
            }
        }

        &-footer {
            left: 0;
        }
    }

    .contact {

        &-title {
            width: 100%;
        }

        &-subtitle {
            width: 100%;
        }

        &-inputs {
            width: 100%;

            input {
                height: 50px;
            }

            &-main {
                grid-template-columns: 1fr;
            }
        }
    }

    .special {
        width: 100%;

        &-wrapper {
            padding-right:50px;
            padding-left: 0;
            width: 100%;
        }

        h2 {
            left: 10%;
        }


        .info { 
            padding-right: 0;
            padding-left: 0;
            width: 100%;

            &-title {
                width: 100%;
            }

            &-subtitle {
                width: 100%;
            }

            &-text {
                width: 100%;
            }
        }

        .img {
           
            
            img {
                width: 100%;
                height: auto;
            }
        }
    }

}

@media only screen and (max-width: 480px) {

    .contact {

        &-footer {

            &-contacts {

                nav {
                    font-size: 20px;

                    &:nth-child(2n) {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    .events {

        h2 {
            font-size: 21px;
            left: 0;
        }
    }

    .menu {

        &-subtitle {
            padding-bottom: 0;
        }
    
        &-types {
            grid-template-columns: 1fr 1fr;
            padding-bottom: 100px;
            padding-top: 0;
        }
    }

    .bookForm {

        &-form {

            &-title {
                font-size: 38px;
                padding-bottom: 10px;
            }

            &-inputs {
                width: 100%;

                input {
                    width: 100%;
                }
            }
        }
    }

    .photos {
        display: grid;
        grid-template-columns: 1fr;
        height: 1200px;
    }

    .special {

        h2 {
            left: 0;
            padding-left: 10px;
            font-size: 25px;
        }
    }

    .header {
        height: 900px;

        &-wheel {
            left: 10px;
        }

        &-title {
            font-size: 10px;

            h1 {
                padding-bottom: 10px;
                font-size: 33px;
            }
        }

        &-navigation {

            &-table {

                nav {

                a {
                    font-size: 14px;
                }
            }
            }
        }

        &-buttons {
            display: grid;
            grid-template-columns: 1fr;
            
            button {
                margin: 0 auto;
                width: 90%;
            }
        }
    }

}

